<section class="experience" id="experience">
    <div class="container">
      <h2 class="experience-title">Coffee Moments</h2>
      <p class="experience-text">
        Experience the warmth and community of CoffeeJoy.
      </p>
      <div class="experience-image-container">
        <ul class="experience-list">
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-1.jpg"
              srcset="
                /img/Experience/experience-img-1.jpg    1x,
                /img/Experience/experience-img-1@2x.jpg 2x
              "
              alt="Coffee preparation"
              width="288"
              height="288"
              loading="lazy"
            />
          </li>
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-2.jpg"
              srcset="
                /img/Experience/experience-img-2.jpg    1x,
                /img/Experience/experience-img-2@2x.jpg 2x
              "
              alt="Freshly brewed espresso"
              width="288"
              height="288"
              loading="lazy"
            />
          </li>
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-3.jpg"
              srcset="
                /img/Experience/experience-img-3.jpg    1x,
                /img/Experience/experience-img-3@2x.jpg 2x
              "
              alt="Coffee beans close-up"
              width="288"
              height="162"
              loading="lazy"
            />
          </li>
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-4.jpg"
              srcset="
                /img/Experience/experience-img-4.jpg    1x,
                /img/Experience/experience-img-4@2x.jpg 2x
              "
              alt="Coffee cups on table"
              width="288"
              height="162"
              loading="lazy"
            />
          </li>
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-5.jpg"
              srcset="
                /img/Experience/experience-img-5.jpg    1x,
                /img/Experience/experience-img-5@2x.jpg 2x
              "
              alt="Pour-over coffee"
              width="288"
              height="288"
              loading="lazy"
            />
          </li>
          <li class="experience-item">
            <img
              src="/img/Experience/experience-img-6.jpg"
              srcset="
                /img/Experience/experience-img-6.jpg    1x,
                /img/Experience/experience-img-6@2x.jpg 2x
              "
              alt="Barista workspace"
              width="288"
              height="288"
              loading="lazy"
            />
          </li>
          <li class="experience-item-full">
            <img
              src="/img/Experience/experience-img-7.jpg"
              srcset="
                /img/Experience/experience-img-7.jpg    1x,
                /img/Experience/experience-img-7@2x.jpg 2x
              "
              alt="Coffee shop interior"
              width="288"
              height="391"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>