<header>
  <div class="container">
    <nav class="header-nav">
      <a class="logo" href="./index.html">
        <svg width="84px" height="36px">
          <use href="img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="mobile-menu-btn" type="button" aria-label="Open menu button">
        <svg class="burger-icon" width="24" height="24">
          <use href="img/icons.svg#icon-menu"></use>
        </svg>   
      </button>

      <ul class="navigation">
        <li><a class="item-link" href="#welcome">About us</a></li>
        <li><a class="item-link" href="#quality">Benefits</a></li>
        <li><a class="item-link" href="#experience">Gallery</a></li>
        <li><a class="item-link" href="#testimonials">Testimonial</a></li>
        <li><a class="item-link" href="#location">Location</a></li>
      </ul>
    </nav>
  </div>
</header>