<section class="location" id="location">
    <div class="container">
      <div class="container-location">
        <div class="location-main-text">
          <p class="location-tagline-wrap">Find</p>
          <div class="location-main-title">
            <h2 class="location-headlines">Location</h2>
            <p class="location-head-text">Visit us at our cozy coffee shop!</p>
          </div>
        </div>
        <ul class="location-links">
          <li class="location-links-item">
            <svg class="location-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-envelope"></use>
            </svg>
            <div class="location-links-descr">
              <h3 class="location-title">Email</h3>
              <a class="location-link" href="mailto:hello@coffeejoy.com"
                >hello@coffeejoy.com</a
              >
            </div>
          </li>
          <li class="location-links-item">
            <svg class="location-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-phone"></use>
            </svg>
            <div class="location-links-descr">
              <h3 class="location-title">Phone</h3>
              <a class="location-link" href="tel:+15551235321"
                >+1 (555) 123-5321</a
              >
            </div>
          </li>
          <li class="location-links-item">
            <svg class="location-icon" width="32" height="32">
              <use href="/img/icons.svg#icon-map"></use>
            </svg>
            <div class="location-links-descr">
              <h3 class="location-title">Office</h3>
              <p class="location-adress">
                263 Newbury St, Boston, MA 02116, USA
              </p>
            </div>
            <a
              class="get-direct-link"
              href="https://maps.app.goo.gl/xunbCBC3S7QnkHFt6"
              target="_blank"
              >Get Directions
              <svg class="get-direct-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-chevron-right"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.6691122678917!2d-71.08336659999999!3d42.349577499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37a0f084cda31%3A0x2c61033530218739!2zMjYzIE5ld2J1cnkgU3QsIEJvc3RvbiwgTUEgMDIxMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1762446037950!5m2!1sru!2sua"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </section>