<section class="quality" id="quality">
    <div class="container">
      <div class="quality-wrapper"> 
        <div class="quality-title-box">
          <p class="quality-text">Quality</p>
          <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
          <p class="quality-title-paragraf">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas.
          Our flexible subscription plans ensure that your coffee experience is tailored to your needs</p>
        </div>
          <ul class="quality-list">
            <!--card 1-->
            <li class="quality-item">
              <div class="quality-wrap">
                <img 
                  class="quality-image" 
                  src="/img/Quality/quality-img-1.jpg"
                  srcset="/img/Quality/quality-img-1.jpg  1x, 
                          /img/Quality/quality-img-1@2x.jpg  2x" 
                  alt="Coffee">
                <div class="quality-text-box">
                  <h3 class="quality-name">Fresh-Roasted Coffee for Every Taste</h3>
                  <p class="quality-paragraf">Savor the rich flavors of our expertly sourced beans.</p>
                </div>
              </div>
            </li>
            <!--card 2-->
            <li class="quality-item">
              <div class="quality-wrap">
                <img 
                  class="quality-image" 
                  src="/img/Quality/quality-img-2.jpg"
                  srcset="/img/Quality/quality-img-2.jpg  1x, 
                          /img/Quality/quality-img-2@2x.jpg  2x" 
                  alt="Expert">
                <div class="quality-text-box">
                  <h3 class="quality-name">Expert Baristas Crafting Your Perfect Brew</h3>
                  <p class="quality-paragraf">Our baristas are passionate about coffee and skilled in their craft.</p>
                </div>
              </div>
            </li>
            <!--card 3-->
            <li class="quality-item">
              <div class="quality-wrap">
                <img 
                  class="quality-image" 
                  src="/img/Quality/quality-img-3.jpg"
                  srcset="/img/Quality/quality-img-3.jpg  1x, 
                          /img/Quality/quality-img-3@2x.jpg  2x" 
                  alt="Atmosphere">
                <div class="quality-text-box">
                  <h3 class="quality-name">Cozy Atmospher</h3>
                  <p class="quality-paragraf">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>