<div class="modal-overlay is-open">
    <div class="modal-window">
        <button type="button" class="modal-close">
            <svg class="close-icon" width="24" height="24" >
                <use href="/img/icons.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-content">
            <p class="modal-title">Welcome to the world of CoffeeJoy!</p>
            <p class="modal-text-content">Fresh brews, special offers, and cozy updates are coming your way.</p>
            <img 
              class="modal-image" 
              src="/img/SS/friendlyillustration.png"
              srcset="/img/SS/friendlyillustration.png 1x, /img/SS/friendlyillustration@2x.png 2x"
              alt="friendly illustration">
            <button class="close-modal-button">Close</button>
        </div>
    </div>
</div>