<section class="welcome" id="welcome">
    <div class="container">
      <div class="welcome-wrapper">
        <div class="welcome-tagline-wrapper">
          <p class="welcome-tagline-text">Welcome</p>
          <h2 class="welcome-tagline">
            Our Journey: Passion for Quality Coffee
          </h2>
        </div>
        <div class="welcome-info-wrapper">
          <p class="welcome-info-text">
            At CoffeeJoy, we believe that every cup tells a story. Our
            mission is to bring you the finest coffee experiences, crafted
            with care and dedication. We are committed to sourcing
            high-quality beans and roasting them to perfection, ensuring
            each sip is a delight.
          </p>
          <!-- TODO: check href for match(перевірити href на відповідність) -->
          <a href="#location" class="welcome-info-btn">
            Find location
            <svg class="welcome-info-btn-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-map-pin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="welcome-image-wrapper">
        <img
          class="welcome-image"
          srcset="
            /img/Welcome/welcome-img.jpg    1x,
            /img/Welcome/welcome-img@2x.jpg 2x
          "
          src="/img/Welcome/welcome-img.jpg"
          alt="Handmade coffee brewing image"
          loading="lazy"
        />
      </div>
    </div>
  </section>