.container {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (min-width: 768px){
  .container{
      padding: 0px 32px;
  }
}
@media (min-width: 1440px){
  .container{
      padding: 0px 64px;
  }
}
