/* #region Experience section */
.experience {
    display: flex;
    align-items: center;
    padding: 64px 0;
    gap: 32px;
    flex-direction: column;
  }
  
  .experience-title {
    font-family: "Aboreto", sans-serif;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .experience-text {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
    letter-spacing: 0em;
    line-height: 1.5;
  }
  
  .experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width: 100%;
  }
  
  .experience-item {
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  
  .experience-item-full {
    border-radius: 24px;
    overflow: hidden;
    height: 391px;
    width: 100%;
  }
  
  .experience-item-full img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
    display: block;
  }
  
  @media (min-width: 768px) {
    .experience-list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }
  
    .experience-item {
      width: calc((100% - 32px) / 2);
      height: auto;
      border-radius: 24px;
      overflow: hidden;
    }
  
    .experience-item-full {
      width: 100%; 
      max-width: 704px; 
      max-height: 391px;
      border-radius: 24px;
      overflow: hidden;
    }
  
    .experience-item-full img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 50%;
      display: block;
    }
  }
  
  @media (min-width: 1440px) {
    .experience-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      max-height: 949px;
      gap: 32px;
    }
   .experience-item {
      width: calc((100% - 64px) / 3);
      height: auto;
      border-radius: 24px;
      overflow: hidden;
    }
  
    .experience-item-full {
      width: 416px;
      height: 416px;
      border-radius: 24px;
      overflow: hidden;
    }
  }
  
/* #endregion Experience section */
