/* #region Header section */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 18px 32px; 
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 0;
}

@media (min-width: 768px) {
  .mobile-menu-btn {
    display: none; 
  }
}

/* NAVIGATION */
.navigation {
  display: none; 
  gap: 32px;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.item-link {
  font-size: 16px;
  line-height: 150%;
  color: #0B0803;
  opacity: 1;
  text-decoration: none;
  transition: opacity 200ms ease-in;
}

.item-link:hover,
.item-link:focus{
  opacity: 0.5;
}

/* #endregion Header section */