/* #region Hero section*/

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 108.5px 32px;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/img/bg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-resolution: 192dpi){
    .order-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/img/bg/bg@2x.jpg); 
    }
}
@media (min-width: 768px){
    .hero {
        padding: 311.5px 32px;
    }
}
@media (min-width: 1140px){
    .hero {
        padding: 259px 64px;
    }
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 256px;
    margin-bottom: 32px;
}
@media(min-width: 768px){
    .hero-text-container {
        max-width: 560px;
    }
}

.hero-text{
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
@media(min-width: 1140px){
    .hero-text{
        font-size: 56px;
    }
}

.hero-paragraph{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.hero-button {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    border: none;
    padding: 10px 24px;
    border-radius: 100px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), 
                inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), 
                inset 0 0 0 1px rgba(11, 8, 3, 0.15), 
                inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), 
                inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6F4E37;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    transition: opacity 200ms ease-in;
}
.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    opacity: 0.5;
}
/* #endregion Hero section*/