/* #region Mobile Menu section */
.mobail-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    z-index: 1000;

    background-color: #E0CBB4;
  
    transition: transform 400ms ease-in;
}

@media (min-width: 768px) {
    .mobail-menu {
      display: none;
    }
  }

.mobail-menu.is-open{
    transform: translateX(0);
}

.mobail-menu .container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-header{
    display: flex;
    justify-content: space-between; 
    padding: 18px 0;
}

.mobail-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    padding: 0;
}

.mobile-menu-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.menu-item-link{
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #0B0803;
}
/* #endregion Mobile Menu section */