/* #region Quality section */
.quality {
    padding: 64px 0; 
}

.quality .container {            
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 288px;   
} 

.quality-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;   
} 

.quality-title-box { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;  
     margin: 0 auto;      
}
 @media only screen and (min-width: 768px) {         
        
.quality-title-box {
      width: 704px;
}
 }

  @media only screen and (min-width: 1440px) {  
      .quality-title-box {
        width: 768px; 
      }
  }

.quality-text {
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;        
        color: #0b0803; 
        margin-bottom: 16px;       
}

.quality-title {
        font-family: "Aboreto", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -0.01em;        
        color: #0b0803;
        margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .quality-title {
     width: 452px;
     max-width: 100%;
    }  
}
.quality-title-paragraf {
font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
}

.quality-list {
 display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  width: 100%;
}
   .quality-item {      
     border-radius: 32px; 
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    width: 265px;  
        }

@media only screen and (min-width: 768px) {
    .quality-list .quality-item { 
       display: flex;
       flex-wrap: wrap;      
        gap: 24px;
        width: calc((100% - 24px) / 2)
    }
   .quality-list .quality-item:last-child {           
        width: 100%;
    }     

    .quality-list .quality-item:last-child .quality-paragraf{
        max-width: 100%;
        width: 440px;
    }
}

@media (min-width: 1440px) {
    .quality-list {
        width: 1312px;
        height: 358px;
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .quality-list .quality-item:last-child,      
    .quality-item {
        width: calc((100% - 48px) / 3);
    }
}
.quality-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;          
}

.quality-image {
    border-radius: 32px;
    width: 100%;    
    max-width: 704px;    
}

.quality-text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-top: 32px;
    text-align: center;
}

.quality-name {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;  
    text-align: center;    
}

.quality-paragraf {
   font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;  
}
/* #endregion Quality section */
