/* #region Success subscribe section */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 64px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    pointer-events: none;
  }
  
  .modal-overlay.is-open{
    opacity: 1;
    pointer-events: auto;
  }

  .modal-window {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
  
    background-color: #e0cbb4;
    border-radius: 32px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    max-height: 801px;
    max-width: 866px;
    min-width: 288px;
  }
  
  /*Cross close button*/
  .modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    /*right: 73px;*/
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: transform 0.2s;
  }
  
  .modal-close:hover {
    transform: scale(1.1);
  }
  
  .modal-close:active {
    transform: scale(0.95);
  }
  
  .close-icon {
    stroke: #2c2c2c;
  }
  
  /*Content container*/
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2c2c2c;
    margin-bottom: 16px;
  }
  
  .modal-text-content {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #4a4a4a;
    margin-bottom: 24px;
  }
  
  .modal-image {
    display: block;
    border-radius: 16px;
    min-width: 256px;
    object-fit: cover;
    object-position: center 50%;
    min-height: 200px;
    margin-bottom: 24px;
  }
  
  .close-modal-button {
    padding: 10px 24px;
    border-radius: 100px;
    background-color: #6f4e37;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1),
      0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
      0px 0px 0px 1px rgba(11, 8, 3, 0.15) inset,
      0px 2px 1px 0px rgba(255, 255, 255, 0.25) inset,
      0px 32px 24px 0px rgba(255, 255, 255, 0.05) inset;
    color: #ffffff;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s, box-shadow 0.2s, transform 0.2s;
  
    max-width: 256px;
    width: 100%;
  }
  
  .close-modal-button:hover {
    opacity: 0.9;
  }
  
  .close-modal-button:active {
    opacity: 1;
    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.2) inset,
      0px 0px 0px 1px rgba(11, 8, 3, 0.15) inset;
    transform: translateY(1px);
  }
  
  /*layout is tablet*/
  @media (min-width: 768px) {
    .modal-overlay {
        padding: 64px 32px;
      }

    .modal-window {
      min-width: 704px;
      padding: 64px;
    }
    .close-modal-button {
      max-width: 340px;
    }
  
    .modal-title {
      font-size: 36px;
    }
    .modal-text-content {
      margin-bottom: 48px;
    }
    .modal-image {
      margin-bottom: 48px;
      width: 644px;
      height: auto;
      max-width: 644px;
      border-radius: 40px;
    }
    .close-modal-button {
      width: 340px;
      max-width: 340px;
    }
  }
  /*layout is desktop*/
  @media (min-width: 1440px) {
    /* .modal-window {

      } */
    .modal-overlay {
        padding: 64px;
      }
  
    .modal-close {
      right: 73px;
    }
    .modal-title {
      font-size: 48px;
    }
  
    .modal-text-content {
      margin-bottom: 48px;
    }
    .close-modal-button {
      width: 274px;
      /* max-width: 374px; */
    }
  }
/* #endregion Success subscribe section */